services:
  app:
    container_name: remi-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    volumes:
      - .:/app
    environment:
      - NODE_ENV=production
  dev:
    container_name: remi-app-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    restart: always
    environment:
      - NODE_ENV=development