services:
  app:
    container_name: remi-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    volumes:
      - .:/app
    env_file:
      - .env.production
  dev:
    container_name: remi-app-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    env_file:
      - .env.development
    restart: always
